@using SharedDtoModels.TaskDtos;
@model List<ToDoTaskDisplayDto>
@{
    ViewData["Title"] = "Home Page";
}
@if(!Model.Any())
{
    <div>There are no Tasks</div>
}else{
    @foreach (ToDoTaskDisplayDto taskDisplay in Model)
    {
        <div>
            <h1>@taskDisplay.Title</h1>
        </div>
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
