@using SharedModels.TaskDtos;
@model List<ToDoTaskDisplayWithIdDto>
@{
    ViewData["Title"] = "";
}

<h1 class="mb-3">Tasks</h1>

<section class="container">
@if(!Model.Any())
{
    <p>There are no Tasks</p>
}else{
    @* Display Each task *@
    @foreach (ToDoTaskDisplayWithIdDto taskDisplay in Model)
    {
            <div class="card mb-3">
                <div class="card-body row">
                <div class="col-1">
                    <form>
                        <input class="form-check-input" type="checkbox" id=@($"completeRadio{taskDisplay.Id}") @(taskDisplay.IsCompleted ? "checked" : "") />
                    </form>
                </div>
                <div class="col-11">
                    <h2 class="card-title h3">@Html.DisplayFor(model => taskDisplay.Title)</h2>
                    @if (taskDisplay.Deadline != null)
                    {
                        <p class="card-text">Deadline: @Html.DisplayFor(model => taskDisplay.Deadline)</p>
                    }
                </div>
            </div>
        </div>
    }
}
</section>